.tasks {
    user-select: none;
    padding: 17px;
    margin: 0 0 8px 0;
    min-height: 45px;
    border-radius: 2%;
    border-left: 1px solid gray;
    color: gray;
    background-color:white;     
}